<h2>Search Books</h2>
<form action="/books" method="GET">
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
    <label>Author</label>
    <select name="author">
        <option value="">Select an author...</option>
        <% authors.forEach(author => {%>
            <option value="<%= author.id %>"><%= author.name %></option>
        <%}) %>     
    </select>
    <button type="submit">Search</button>
</form>
<% books.forEach(book => { %>
   <img height="150" width="100" src="<%= book.coverImagePath %>">
<% }) %> 
